body {
    font-family: 'DynaPuff';
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .conteiner {
    margin-left: auto;
    margin-right: auto;
  
    max-width: clamp(320px, 95vw, 343px);
  
    @media (min-width: 768px) {
      max-width: 704px;
    }
  
    @media (min-width: 1200px) {
      max-width: 1060px;
    }
  }
  
  