.header-page {
    background: linear-gradient(253deg, $light-yellow -13.48%, #d6d6d6 125.48%);
    height: 800px;
    position: relative;
  }
  
  .header-page__navigation {
    max-width: 100vw;
    margin-top: 27px;
  
    @media (min-width: 320px) {
    }
    @media (min-width: 768px) {
      margin-top: 38px;
    }
    @media (min-width: 1200px) {
      margin-top: 41px;
    }
  
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .bg-black {
    background-color: $main-bgcolor;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 0px;
  }
  
  .header-page__main-nav {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .header-page__main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
  .header-page__main-item {
    list-style: none;
  }
  .header-page__main-btn {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
  
    &--right {
      background-image: url(../images/icon/header-menu-item.svg.svgn);
  
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
  
  .header-page__title {
    color: $white;
    bottom: 149px;
    width: 326px;
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    margin-bottom: 0;
  
    @media (min-width: 768px) {
      bottom: 130px;
      width: 521px;
      font-size: 80px;
    }
    @media (min-width: 1200px) {
      bottom: 119px;
      width: 846px;
    }
  }
  
  .nav-right__list {
    display: none;
    list-style: none;
    @include manrope(16px, 700);
    width: 595px;
  
    &:hover .header-content__main-btn--right {
      display: block;
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
  .nav-right__link {
    color: $white;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid $white;
    display: flex;
    gap: 12px;
    &--icon1 {
      &::before {
        @include psevdo;
        background-image: url(../images/icon/portfolio.svg);
      }
    }
    &--icon2 {
      &::before {
        @include psevdo;
        background-image: url(../images/icon/resume-1.svg);
      }
    }
    &--icon3 {
      &::before {
        @include psevdo;
        background-image: url(../images/icon/testimonials-1.svg);
      }
    }
    &--icon4 {
      &::before {
        @include psevdo;
        background-image: url(../images/icon/contact-1.svg);
      }
    }
  }
  
