
.content{
   max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
.logo{
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    margin-left: 98px;
    margin-top: 63px;
    font-weight: 400;
}
.span-logo{
    color: #4BCAFF;
}
.main-navigation {
    display: inline;
    vertical-align: top;
    
}
.main-menu {
    display: inline;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #35444F;
    /* padding: 32px 69px; */
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.main-menu-item {
    display: inline;
    margin-left: 70px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 24px 32px 18px 21px;
   margin: 0;
    
}
.main-menu-link {
    /* text-transform: uppercase; */
    color: #FFFFFF;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    /* padding: 24px 32px 18px 32px; */
    /* margin-left: 160px; */
}
.side-menu{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    /* margin-left: 100px; */
    margin-right: 30px;
    /* padding-top: 26px; */
    /* padding-bottom: 0px; */
    /* margin-bottom: 0; */
    /* height: 399px; */
    width: 344px;
    margin-top: 49px;
}
.side-menu-item{
display: inline;
padding-bottom: 26px;
padding-top: 26px;
}
/* .side-menu-item:hover{
    color: red;
}
.main-menu-link:hover{
    background-color: red ;
} */
.side-menu{
    list-style-type: none;
    
}
.side-menu-link{
    text-decoration: none;
font-size: 27px;
color: #485863;
}
.top-img-fon{
border: 1px solid #000000;
padding: 75px 268px 73px 297px;
margin-top: 49px;
}
.central-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}
.text{
    /* padding-right: 50px; */
    color: #2C2C2C;
    size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 13px;
}
.text:nth-child(1){
    margin-top: 37px;
}
/* .text:nth-child(2){
    margin-bottom: 54px;
} */
.main-footer{
    /* background-color: #63696E7A; */
    margin-left: 100px;
    display: flex;
    /* size: 28px; */
-webkit-flex-direction: row;
    flex-direction: row;
}
    .text-footer-1{
/* -webkit-flex: auto; */
    /* flex: auto; */
    font-size: 28px;
    /* padding: 20px 292px 21px 40px; */
    color: #0C1927;
    list-style: none;
    display: flex;
    /* margin-left: 15px; */
    padding: 0;
    }
.text-footer-2{
   height: 69px;
padding: 20px 40px 21px 26px;
font-size: 24px;
}
.text-footer-item{
margin-left: 20px;

}

.footer{
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1260px; */
    padding: 0 10px;
    margin: 0 auto;
}
.side-menu-item:nth-child(1){
    padding-top: 26px;
    
}