.footer {
    background-color: $dark-purple;
    background-size: cover;
}

.footer-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.copyright {
    display: block;
    margin: 0;
    color: #f8fdfe;
    font-size: 16px;
    line-height: 24px;
    &::before {
            content: "\00A9";
            color: #F8FDFE;
            font-size: 16px;
        }
}

.rights {
    display: block;
    margin: 0;
    display: block;
    color: #f8fdfe;
    font-size: 16px;
    line-height: 24px;
}
