.main-content {
    padding-top: 104px;
    margin-bottom: 120px;
}

.main-content__title {
    border-bottom: 1px solid #a8a8a8;
    margin: 0;
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 24px;
    margin-top: 32px;
}

.main-content__product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 24px;
    padding: 0;
    column-gap: 24px;
    row-gap: 32px;
    margin-bottom: 0;
}
.main-content__product-card{
    padding: 32px;
    border: 1px solid #8E8E8E;
    position: relative;
    background-color: $wight;

}
.product-card__img{
    display: block;
    height: 280px;
     width: 178px ;
     margin:0 auto ;
}
.product-card__title{
    text-decoration: none;
        color: #1F1F1F;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 242px;
        display: block;
        position: relative;
        font-family: Cabin;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        margin-top: 16px;
        &::after{
            content: "";
                display: block;
                width: 241px;
                border-bottom: 1px solid #A8A8A8;
        }

}
.product-card__subtitle-dscr{
    color: #8E8E8E;
        font-size: 16px;
        margin: 0;
        margin-bottom: 8px;
}
.product-card__final-price{
    color: #E90000;
        font-size: 24px;
        font-weight: 500;
        margin-top: 8px;
        display: inline;
}
.product-card__btn-add-to-basket {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: $dark-purple;
    color: $wight;
    border: none;

    &:hover {
        background: $light-purple;
    }

    &--decor {
        border-radius: 4px;
        background:$green;

        &:hover {
            background:$salat;
        }
    }
}
.product-card__old-price{
    text-decoration: line-through;
        color: #8E8E8E;
        font-size: 24px;
        margin: 0;
        display: inline;
        margin-left: 24px;
}
.product-card__badge-dscr{
    background-color: $badge__hit;
        color: #F8FDFE;
        font-size: 16px;
        border-radius: 4px;
        padding: 4px 8px;
        position: absolute;
        top: 32px;
        left: 32px;
}
.product-card__badge-dscr--new{
    background-color:$badge__new;
}
.product-card__badge-dscr--percent{
    background-color: $badge__npercent;
    top: 32px;
    left: 80px;
    &--decor{
        left: 32px;
    }
}
