body {
    font-family: 'Open Sans', sans-serif;
}
.page-header{
    border-bottom: 1px solid #EBE8F4;
}
.full-container {
    width: 1212px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #22202E;
}
.main-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}
.main-menu-item {
padding-right: 44px;
}
.main-menu-link {
    color: #726E8D;
    font-size: 16px;
}
.icons-nav-list {
    display: flex;
    list-style: none;
    gap: 16px;
}
.icons-nav-link {
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-1{
    background-image: url(../img/search.svg); 
}
.icon-2{
    background-image: url(../img/shopping-cart.svg);
}
.icon-3{
    background-image: url(../img/user-avatar.svg);
    }
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #2A254B;
    text-align: center;
    line-height: 50.4px;
    margin-top: 80px;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
}
.main-select{
display: flex;
gap: 12px;
}
.select,
.date-item {
    border: none;
    margin-right: 24px;
    /* padding: 12px 0 12px 24px; */
    padding: 12px 24px 12px 0;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Open Sans', sans-serif;
    color: #2a254b;
    background-image: url(/img/caret--down.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
    /* background-position: right; */
}
.date-dsc {
    color: #2a254b;
    line-height: 150%;
    padding-top: 12px;
}
.date-filters {
    display: flex;
    gap: 16px;
}
.products-list {
    display: grid;
    padding: 28px 0 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 20px;
    margin-top: 5px;
}
.products-list-item {
    list-style: none;
}
.img-product {
    width: 100%;
    display: block;
}
.name-products {
    color: #2a254b;
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 140%;
}
.price-products {
    font-family: 'Open Sans', sans-serif;
    color: #2a254b;
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
}
.view-collection{
    color: #2a254b;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 150%;
    border: none;
    display: block;
    margin: 20px auto 0;
    margin-top: 20px;
}
.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;}
.benefits-fon {
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.benefits-conteinet {
    grid-column: 2;
    width: 640px;
}
.title-mailings {
    padding-left: 50px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-top: 71px;
}
.description-mailings {
    padding-left: 50px;
    width: 470px;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 0;
    line-height: 150%;
}
.sing-up {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    background-color: #2a254b;
    padding: 16px 32px;
    border: none;
    margin: 213px 0 69px 75px;
}
.page-footer{
background-color: #2a254b;
}
.footer-conteiner {
    padding-top: 60px;
}
.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 48px;
}
.footer-nav-list {
    padding-left: 0;
    list-style: none;
}
.foonet-nav-name {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.footer-nav-link {
    display: block;
    margin-top: 12px;
    color: #fff;
}
.social{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        /* grid-column: 1/3; */
        border-top: 1px solid #4e4d93;
        /* flex-wrap: wrap; */
}
.copyright-2023{
    margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
}
.footer-social-list {
    display: flex;
    list-style: none;
    gap: 24px;
}
.footer-social-link {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.social1 {
    background-image: url(../img/logo--linkedin.svg);
}

.social2 {
    background-image: url(../img/logo--facebook.svg);
}

.social3 {
    background-image: url(../img/logo--instagram.svg);
}

.social4 {
    background-image: url(../img/logo--skype.svg);
}

.social5 {
    background-image: url(../img/logo--twitter.svg);
}

.social6 {
    background-image: url(../img/logo--pinterest.svg);
}
