body{
background-color: #fff;  
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 /* height: 100vh; */
 /* overflow: hidden;; */

}
 .page-header{
    text-align: center;
}
.main-menu{
    list-style: none;
}
.main-menu-item{
   display: inline-block;
   vertical-align: middle;
   margin: 32px 36px;
}
.main-menu-link{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 135%;
    margin-left: auto;
    margin-right: auto;    
}
.content-photo{
   width: 100vw;
   height: 100%;
   object-fit: cover;
   /* position: absolute; */
   /* top: 0;
   left: 0; */
}
.title{
    text-align: center;
    /* padding-top: 40px; */
    font-size: 48px;
    margin-top: 0;
}
.page-main{
    font-family: Inter;
        font-size: 21px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    
        font-family: Inter;
        font-size: 21px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        /* padding-bottom: 24px; */
        font-weight: bold;
        margin-bottom: 24px;
}
.main-list{
    font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: start;
        padding-bottom: 40px;
        /* margin-top: 20px; */
        margin: 0;
        padding-left: 16px;
        color: #161616;
}
.how-does-work-button{
    /* width: 145px;
    height: 44px;  */
    padding: 10px 24px 10px 24px;
    background-color: #04959E;
    color: #fff;
    /* margin-left: 50%; */
    margin-bottom: 88px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    border: none;
}
.page-footer{
    font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        padding: 16px 0;
        margin: 0;
}
span{
    color: #04959E;
}
.contaner{
    max-width: 860px;
    margin: 0 auto;
    padding: 0 10px;
}
.how-does-work{
    margin-bottom: 105px;
    margin-top: 88px;
}
.footer{
    width: 100vw;
  position: relative;
}
.footer::before{
    position: absolute;
    content:"";
    width: 100%;
    height: 1px;
    background-color: black;
top: 0;
}