.statistics {
    position: relative;
    background-color: $main-bgcolor;
  }
  
  .statistics__conteiner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
    padding-bottom: 76px;
  
    @media (min-width: 768px) {
      width: 540px;
      padding-top: 101px;
      padding-bottom: 102px;
    }
  }
  
  .statistics__title {
    color: $light-yellow;
    font-size: 36px;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  .statistics__text {
    color: $white;
    @include manrope(15px, 500);
  
    @media (min-width: 768px) {
      @include manrope(16px, 500);
    }
  }
  .statistics__info {
    color: $white;
    @include manrope(16px, 700);
    display: flex;
    gap: 44px;
  
    @media (min-width: 768px) {
      gap: 96px;
    }
  }
  .statistics__info-text {
    display: inline-block;
    width: min-content;
  
    @media (min-width: 768px) {
      width: max-content;
    }
  }
  .statistics__info-decor {
    display: block;
    font-size: 36px;
    font-weight: 700;
  
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  
  .statistics__dekor {
    position: absolute;
    top: 55px;
    right: 0px;
    height: 305px;
    @media (max-width: 350px) {
      width: 80px;
      transform: scaleX(0.5);
    }
  
    @media (min-width: 768px) {
      top: -50px;
    }
  }
  
  